<p>
  <b>Comp:</b>
  <%= @comp.name %>
</p>


<table>
  <tr>
    <th>Пользователи</th>
  </tr>

<% @comp.userlog.each do |u| %>
  <tr>
    <td><%= u.user_name %></td>
    <td><%= u.in %></td>
    <td><%= u.created_at.to_formatted_s(:short) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', user_path %>
